{% set url =  path('ads_show', {'slug' : ad.slug})  %} {# we can make a variable because if we want to change it we have to change it just one time and a good code is the shortest code#}



<div class="col-md-4">
    <div class="card bg-light mb-3">
        <div class="card-header text-center">
            {{ ad.rooms }} chambres <strong>{{ ad.price }} € / nuit</strong><br>
            <small>Pas encore noté</small>
        </div>
        <a href="{{ url }}">
            <img src="{{ ad.coverImage }}" alt="Image de l'appartement" style="height: 200px; width: 100%; display: block;">
        </a>

        <div class="card-body">
            <a href="{{ url }}" style="text-decoration: none; color: inherit;">
                <h4 class="card-title">
                    {{ ad.title }}
                </h4>
            </a>
            <p class="card-text">
                {{ ad.introduction }}
            </p>

            {% if user.id is not same as(ad.author.id) %}
                <a href="{{ url }}" class="btn btn-info">En savoir plus</a>
            {% endif %}
            {% if user.id is same as(ad.author.id) %}
                <a href="{{ path('ads_edit', {'slug' : ad.slug}) }}" class="btn btn-warning mb-2">Modifier cette annonce</a>
                <a href="{{ path('ad_delete', {'slug' : ad.slug}) }}" class="btn btn-danger">Supprimer cette annonce</a>
            {% endif %}
        </div>
    </div>

</div>