{% extends 'base.html.twig' %}

{% block title %}{{ ad.title }}{% endblock %}

{% block body %}

    {% set a = ad.author %}


<div class="ad mt-3" style="background-image: url({{ ad.coverImage }})">
    <div class="container ">
        <h1>{{ ad.title }}</h1>
        <p>{{ ad.introduction }}</p>
        <p class="h2">
            <strong>{{ ad.rooms }} chambres</strong> pour <strong>{{ ad.price }}&euro;</strong> par nuit
        </p>
        {% if user.id is not same as(ad.author.id) %}
        <a href="#" class="btn btn-primary">Réserver</a>
        {% endif %}
        {% if user.id is same as(ad.author.id) %}
           <a href="{{ path('ad_delete', {'slug' : ad.slug}) }}" class="btn btn-danger">Supprimer cette annonce</a>
        {% endif %}
    </div>
</div>
    <hr>

<div class="container">
    <div class="row">
        <div class="col-md-8 mb-3" style="background-color: lightgrey">
            <div class="mt-3">{{ ad.contents | raw }}</div>
            <div id="carouselExampleIndicators" class="carousel slide mb-3" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for image in ad.images %}
                    <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index0 }}" class="{% if loop.first %}active{% endif %}"></li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for image in ad.images %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <img class="d-block w-100" src="{{ image.url }}" alt="First slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>{{ ad.title }}</h3>
                            <p>{{ image.caption }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>


{################# Ads' owner #####################}
    <div class="col">
        <div class="row" >
            <div class="col">
                <div class="card bg-light mb-3 ">
                    <a href="{{ path('user_profile', {'slug' : a.slug}) }}">
                        <div class="card-header">
                            <div class="row">
                                <img class="avatar-medium" src="{{ a.picture }}" alt="Avatar">
                                <div class="col"><h3>{{ a.fullName }}</h3>
                                    <span class="badge badge-primary"> {{  a.ads | length }}{% if a.ads | length >= 2 %}  annonces {% else %} annonce {% endif %}</span>
                                </div>
                            </div>
                        </div>
                    </a>

                    <div class="card-body">
                        <h4 class="card-title">
                            {{ ad.introduction }}
                        </h4>
                        <p class="card-text">
                        {{ ad.contents | raw }}
                        <a href="{{ path('user_profile', {'slug' : a.slug}) }}" class="btn btn-secondary">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}