{% extends 'base.html.twig' %}

{% block title %}Profil de {{ user.fullName }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <div class="row align-items-center text-center mb-5 ">
                <div class="col-3 ">
                    <img class="avatar" src="{{ user.picture }}" alt="Avatar de {{ user.fullName }}">
                    <br>
                </div>
                <div class="col-8">
                    <h1 class="display-2"><strong>{{ user.fullName }}</strong></h1>
                    <h3>{{ user.introduction }}</h3>
                    {% if user.ads | length >=1 %}
                        <span class="badge badge-info mt-3 text-center">{{ user.ads | length }}{% if user.ads | length >= 2 %}  annonces {% else %} annonce {% endif %}</span>
                    {% endif %}
                    <br>
                    {% if user is same as(app.user) %}
                    <a href="{{ path('account_profile') }}"><span class="btn btn-primary mt-3 mr-3 text-center">Modifier mes informations</span></a>
                    <a href="{{ path('account_password') }}"><span class="btn btn-primary mt-3 text-center">Modifier mon mot de passe</span></a>
                    {% endif %}
                </div>
            </div>
           <div class="text-center">
               {{ user.description | raw }}
           </div>
        </div>

        <hr>
        {% if user.ads | length >=1 %}
            <div class="text-center">
                <h1  id="my_ads" class="display-4 " style="text-decoration: none;color: inherit;">{% if user.ads | length >= 2 %} <strong>Les annonces</strong> {% else %} <strong>L'annonce</strong> {% endif %} <strong>de {{ user.fullName }}</strong></h1>
            </div>

            <div class="row d-flex justify-content-center mt-3">
                {% for ad in user.ads %}
                    {% set url =  path('ads_show', {'slug' : ad.slug})  %} {# we can make a variable because if we want to change it we have to change it just one time and a good code is the shortest code#}

                    <div class="col-md-4">
                        <div class="card bg-light mb-3">
                            <div class="card-header text-center">
                                {{ ad.rooms }} chambres <strong>{{ ad.price }} € / nuit</strong><br>
                                <small>Pas encore noté</small>
                            </div>
                            <a href="{{ url }}">
                                <img src="{{ ad.coverImage }}" alt="Image de l'appartement" style="height: 200px; width: 100%; display: block;">
                            </a>

                            <div class="card-body">
                                <a href="{{ url }}" style="text-decoration: none; color: inherit;">
                                    <h4 class="card-title">
                                        {{ ad.title }}
                                    </h4>
                                </a>
                                <p class="card-text">
                                    {{ ad.introduction }}
                                </p>

                                {% if user_connected is defined %}
                                    <a href="{{ url }}" class="btn btn-info">En savoir plus</a>
                                {% endif %}

                                {% if user_connected is not defined %}
                                    {% if user is same as(ad.author) %}
<!-------------------------------------------------- Button trigger modal --------------------------------------------------------------------------->
                                        <a href="{{ path('ads_edit', {'slug' : ad.slug}) }}" class="btn btn-warning mb-2">Modifier cette annonce</a>
                                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                                            Supprimer cette annonce
                                        </button>

                                        <!-------------------------------------------------- Modal --------------------------------------------------------------------------->
                                        <div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content bg-bark">
                                                    <div class="modal-body">
                                                        Etes vous sûr de vouloir supprimer cette annonce ?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                                                        <a href="{{ path('ad_delete', {'slug' : ad.slug}) }}" class="btn btn-danger">Oui je suis sûr !</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
<!-------------------------------------------------- Modal --------------------------------------------------------------------------->
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="alert alert-warning">
                <h1>{{ user.fullName }} n'a pas encore d'annonce !</h1>
            </div>
        {% endif %}
    </div>
{% endblock %}
